#question-div{
    display: none;

}


#correct-wrong{
display: none;

}

#score-screen{
display: none;

}

#Results{
display: none;

}

.container{
align-items: center;

}

.p {
text-align:  center;

}